/* estilos de navbar */
header {
    display: flex;
    min-height: 70px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header a{
    text-decoration: none;
    color: black;
}

.logo{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.logo-svg{
    height: 50px;
    margin-right: 10px;
}

.barra a{
    font-weight: 600;
    padding: 10px;
}

.barra a:hover{
    color: gray;
}

@media (max-width:700px) {
    header{
        flex-direction: column;
    } 
    .barra{
        padding: 10px 0px; 
    }
}

/* estilos menu de tareas */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos del menú */
.menu {
    background-color: #333;
    padding: 15px 0;
    text-align: center;
}

.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    display: inline-block;
    margin: 0 15px;
}

.menu-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-link:hover {
    background-color: #555;
    color: #f4f4f4;
    border-radius: 5px;
}

/* poke api */
/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Contenedor de búsqueda */
.search-container {
    text-align: center;
    margin-top: 50px;
}

.search-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.search-form {
    display: inline-block;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #e67e22;
}

/* Contenedor de resultados */
.result-container {
    margin: 50px auto;
    max-width: 600px;
    text-align: left;
}

.result-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.result-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.result-header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
}

.result-cell {
    padding: 10px;
    border: 1px solid #ccc;
}

.result-cell:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Estilo para el mensaje de no resultados */
.no-results {
    text-align: center;
    font-size: 18px;
    color: #ff0000;
    margin-top: 30px;
}
/* Imagen del Pokémon */
.pokemon-image {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
 

